@font-face {
    font-family: josefin;
    src: url(../resources/JosefinSans-Regular.ttf);
}
body{
    font-family: josefin;
    background-color: #000000;
    color: #fff;
}
.twitter-wrapper{
    width: 85%;
}
.std-left-margin{
    margin-left: 15px;
}
.std-right-margin{
    margin-right: 15px;
}
.uni-container{
    margin-top: 30px;
}.uni-container .icon .fa-twitter{
    color: #0084b4;
    font-size: 55px;
}.uni-container .icon{
    margin-bottom: 7px;
}
.uni-container .tweet-stats{
    margin: 10px 0px;
}
.uni-container .fa-heart{
    margin-left: 30px;
}
.uni-container .fa-heart, .uni-container .fa-retweet{
    font-size: 22px;
}
.entry{
    font-size: 20px;
}
.each-tweet-container{
    padding: 15px 0px;
    border-bottom: 1px solid #aaa;
}
.each-stock{
    padding-top: 10px;
    float:right;
    width: 65%;
    border-bottom: 1px solid #aaa;
}
.stock-wrapper{
    font-size:16px;
    margin-right: 20px;
}
.stock-firm-code{
    margin-right: 15px;
}.stock-ticker-code{
    margin-left: 15px;
}

.color-red{
    color: #d83232;
}
.color-cyan{
    color: #4bd4d4;
}