@font-face {
  font-family: josefin;
  src: url(../resources/JosefinSans-Light.ttf);
}
body {
  font-family: josefin;
  background-color: #000000;
  color: #fff;
}
.border {
  border: 1px dashed white;
}
.twitter-wrapper {
  width: 85%;
}
.std-left-margin {
  margin-left: 15px;
}
.std-right-margin {
  margin-right: 15px;
}
.color-red {
  color: #d83232;
}
.color-cyan {
  color: #4bd4d4;
}
.uni-container {
  margin-top: 30px;
}
.uni-container .icon {
  margin-bottom: 7px;
}
.uni-container .icon .fa-twitter {
  color: #0084b4;
  font-size: 55px;
}
.uni-container .tweet-stats {
  margin: 10px 0px;
}
.uni-container .fa-heart {
  margin-left: 30px;
}
.uni-container .fa-heart,
.uni-container .fa-retweet {
  font-size: 22px;
}
.uni-container .entry {
  font-size: 25px;
}
.uni-container .each-tweet-container {
  padding: 15px 0px;
  border-bottom: 1px solid #aaa;
}
.uni-container .each-tweet-container .tweet-username {
  font-size: 18px;
}
.uni-container :last-child {
  border: none;
}
.uni-container .stock-wrapper {
  font-size: 16px;
  margin-right: 20px;
}
.uni-container .stock-wrapper .each-stock {
  padding-top: 10px;
  float: right;
  width: 51%;
  border-bottom: 1px solid #aaa;
}
.uni-container .stock-wrapper .each-stock .stock-firm-code {
  margin-right: 15px;
}
.uni-container .stock-wrapper .each-stock .stock-ticker-code {
  margin-left: 15px;
}
.uni-container .gmail-wrapper .each-mail {
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
}
.uni-container .gmail-wrapper .each-mail .mail-subject {
  font-size: 22px;
}
.uni-container .gmail-wrapper .each-mail .mail-prev,
.uni-container .gmail-wrapper .each-mail .mail-info {
  font-size: 18px;
}
.uni-container .gmail-wrapper :last-child {
  border: none;
}
.uni-container .weather-wrapper .temp-int {
  font-size: 100px;
}
.uni-container .weather-wrapper .temp-unit {
  font-sizE: 100px;
}
.uni-container .weather-wrapper .temp_rain {
  padding-left: 20px;
  font-size: 50px;
  color: rgba(226, 224, 224, 0.8);
}
.uni-container .weather-wrapper .fa-cloud {
  padding-left: 15px;
  color: #b2b2b2;
  font-size: 80px;
}
.uni-container .weather-wrapper .extended-weather {
  margin-top: -30px;
  font-size: 22px;
}
.uni-container .news-wrapper {
  padding-top: 15px;
}
.uni-container .news-wrapper .each-news {
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
}
.uni-container .news-wrapper .each-news .news-content {
  margin-top: -7px;
  font-size: 18px;
}
.uni-container .news-wrapper :last-child {
  border-bottom: none;
}
.uni-container .clock-wrapper {
  font-size: 100px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 30px;
}
.uni-container .clock-wrapper .clock-time {
  margin-bottom: -17px;
}
.uni-container .clock-wrapper .clock-day,
.uni-container .clock-wrapper .clock-date {
  margin-top: -27px;
  font-size: 40px;
}
